.container {
  display: flex;
  align-items: center;
}

.container.top {
  margin-bottom: 1rem;
}

.container.bottom {
  margin-top: 1rem;
}

.container.inline {
  display: inline-flex;
}

.button {
  transition: all 0.2s ease;
}

.button:hover {
  transform: translateX(-2px);
}
